@import url("../node_modules/@flaticon/flaticon-uicons/css/all/all.css");

/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/playfair-display-v40-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/playfair-display-v40-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display-v40-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/playfair-display-v40-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/playfair-display-v40-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Playfair Display' sans-serif;
  background-image: url('./assets/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;          
}


.logobox-img{
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-page{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.aslan{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-decoration: none;
  list-style: none;
  color: azure;
}

.paragh {
  display: inline-block;
  font-family: 'Playfair Display', serif; 
  font-size: 24px;
  color: #06372a;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.paragh::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #3e4945, #393b3b, #7d908a);
  border-radius: 2px;
  transform: translateX(-50%);
  transition: width 0.4s ease, background 0.4s ease;
}

.paragh:hover {
  color: #35434b;
  transform: scale(1.05) rotate(-2deg);
}

.paragh:hover::after {
  width: 100%;
  background: linear-gradient(90deg, #3e4945, #393b3b, #7d908a);
}

a {
  text-decoration: none !important;
  color: rgb(6, 55, 42);
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.aslan li {
  position: relative;
  list-style: none;
}

.aslan li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #3e4945, #393b3b, #7d908a);
  border-radius: 2px;
  transform: translateX(-50%);
  transition: width 0.4s ease, background 0.4s ease;
}


.aslan li:hover a {
  color: #35434b; 
  transform: scale(1.1) rotate(-2deg); 
}

.aslan li:hover::after {
  width: 100%;
  background: linear-gradient(90deg, #3e4945, #393b3b, #7d908a);
}

.bases{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn1{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 10px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.btn1:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.btnInput {
  width: 450px;                
  padding: 10px 15px;          
  border: none;   
  border-radius: 8px;          
  font-size: 16px;
  outline: none;               
  transition: all 0.3s ease;   
}

.btnInput::placeholder {
  color: #d8d8d8;                 
}

.btn2{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 10px 20px;         
  background-color: #7d7d7d;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.btn2:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.btn3{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 10px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.btn3:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.btn4{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 10px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.btn4:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.LandingImgBox {
  margin-top: -150px;
  position: relative;
  width: 700px;        
  height: 500px;       
  overflow: hidden;
  border-radius: 20px;

  background-size: cover;
  background-position: center;
  transition: background-image 0.6s ease-in-out;
}

/* Кнопки left & right */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 16px;
  font-size: 22px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.slider-btn:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(-50%) scale(1.1);
}

.slider-btn.left {
  left: 15px;
}

.slider-btn.right {
  right: 15px;
}

.mainbtn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.main-btn1{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn1:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.main-btn2{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn2:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.main-btn3{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn3:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.main-btn4{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn4:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.main-btn5{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn5:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.main-btn5{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn5:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.main-btn6{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn6:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.main-btn7{
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  
  padding: 6px 20px;         
  background-color: #d8d8d8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  
  font-size: 16px;            
  cursor: pointer;             
  
  transition: all 0.3s ease;  
}

.main-btn7:hover {
  background-color: #424544;   
  transform: scale(1.05);      
}

.shop-boxes {
  max-width: 1200px;
  margin: -150px auto 0 auto;
  margin-top: -1px;
  display: flex;
  flex-wrap: wrap;       /* Мухим */
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.variant {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', sans-serif;
  border-radius: 20px;
  gap: 5px;
  padding: 8px;        
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fff;        /* optional, fon oq bo‘lsin */
}

.variant:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);  /* ozgina kattalashadi */
}


.shop-img{
  margin-top: -8px;
  border-radius: 20px;
  transition: 0.9s;
}

.variant:hover .shop-img{
  transform: scale(0.9);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.shop-p{
  margin-top: 5px;
  font-size: 18px;
  color: #899e94;
}

.shop-p-second{
  max-width: 190px;
  margin-top: 4px;
}

.shop-mark{
  margin-top: 20px;
}

.shopBtn{
  margin-top: 5px;
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  padding: 6px 70px;         
  background-color: #899e94;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  font-size: 16px;            
  cursor: pointer;             
  transition: all 0.3s ease;
}

.shopBtn:hover {
  background-color: #6b826f;
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-products{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.home-btn{
  margin-top: 5px;
  display: flex;               
  align-items: center;         
  gap: 10px;                  
  padding: 6px 20px;         
  background-color: #c4ccc8;   
  color: #fff;                 
  border: none;              
  border-radius: 8px;         
  font-size: 16px;            
  cursor: pointer;             
  transition: all 0.3s ease;
}

.home-btn:hover{
  background-color: #6b826f;
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-boxes{
  max-width: 1200px;
  margin: -150px auto 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;       /* Мухим */
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.intro-h1{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-textbox{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 550px;
}

.study-products{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.phone-textbox{
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 550px;
}

/* ============================
   BASE
============================= */

.LandingImgBox {
  display: flex;
  gap: 20px;
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
}

.LandingImgBox img {
  width: 300px;
  border-radius: 10px;
}

.mainbtn {
  display: flex;
  gap: 15px;
}

.mainbtn button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background: #c4ccc8;
  color: white;
  cursor: pointer;
}

/* Для планшетов */
@media (max-width: 1024px) {
  .main-page {
    gap: 100px; /* уменьшаем отступы между блоками */
    flex-direction: column; /* вертикальное расположение */
  }

  .aslan {
    gap: 20px;
  }

  .LandingImgBox {
    width: 90%;
    height: 400px;
    margin-top: -100px;
  }

  .shop-boxes, .home-boxes {
    gap: 30px;
    justify-content: center;
  }

  .home-textbox, .phone-textbox, .study-products {
    gap: 200px;
  }
}

/* Для мобильных телефонов */
@media (max-width: 768px) {
  .main-page {
    gap: 50px;
  }

  .LandingImgBox {
    display: none;
  }

  .mainbtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  gap: 20px; /* расстояние между кнопками */
  justify-items: center; /* центрируем кнопки по горизонтали */
  padding: 0 5px; /* отступ слева и справа по 5px */
  box-sizing: border-box; /* чтобы padding учитывался внутри ширины */
}

  .aslan li {
    font-size: 14px;
  }

  .shop-boxes, .home-boxes {
    margin-top: -900px;
    flex-direction: row;
    gap: 20px;
  }

  .home-textbox, .phone-textbox, .study-products {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .btnInput {
    width: 90%;
  }

  .main-btn1, .main-btn2, .main-btn3, .main-btn4, .main-btn5, .main-btn6, .main-btn7 {
    display: flex;
    padding: 6px 10px;
    font-size: 14px;
  }
}

/* Для очень маленьких экранов */
@media (max-width: 480px) {
  .paragh {
    font-size: 18px;
  }

  .shop-img {
    width: 150px;
    height: 180px;
  }

  .shop-p-second {
    font-size: 14px;
  }

  .home-btn {
    padding: 5px 10px;
    font-size: 14px;
  }
}